nav{
    background-image: radial-gradient(120deg  120.71% 50%, #dafdff 0, #121414 16.67%, #545d62 33.33%, #000000 50%, 100%);
  
  }
  
  a{
    margin: 15px;
  }
  .nav-item{
    font-size: 28px;
font-family: 'Times New Roman', Times, serif;  }
.logo{
  border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(30, 0, 255, 0.5);
  
}