<app-navbar></app-navbar>
<br>
<div >
    <img src="https://ugc.kn3.net/i/origin/http://3.bp.blogspot.com/-gUU6roGMSMQ/UmcR94z6w3I/AAAAAAAAA7Q/ndn-0eLEoyE/s1600/687.jpg" class="img-fluid" style="position: absolute; " width="2px" height="60px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"  ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"  ></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://redskinsrs.com/themes/leo_xstreet/assets/img/modules/leoslideshow/ban%20ago1.png" alt="First slide">
     
    </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://th.bing.com/th/id/R.3cc4222e03f879166eff66b1c707b49b?rik=LqJiHs8gYLY9bA&riu=http%3a%2f%2fclipartmag.com%2fimage%2fshirt-pocket-drawing-30.jpg&ehk=E7UNgoEEA2%2bD04IvVbsP0VOJ9LptU2WhPXn2w8KEgGI%3d&risl=&pid=ImgRaw&r=0" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://redskinsrs.com/themes/leo_xstreet/assets/img/modules/leoslideshow/bann%20accs%20jul.png" alt="Third slide">
      </div>
      </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
  <br>
  <div>
      <div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h2><b>Que ofrece  "YAVISHOP"  </b></h2>
            <p>Actualmente el Instituto ofrece venta de productos a los estudiantes en el cual le envían un mensaje  por el correo en donde se le da a conocer el proceso de adquisición de chaleco o carnet estudiantil para lo cual dentro del correo se adjunta  el número de cuenta y un formulario en el cual se debe llenar los datos y subir el comprobante para la validación de la adquisición y luego se envía otro correo mas para  informar la fecha en que se debe retirar</p>
            <br>
        </div>
        <div class=" col-sm ">

            <p>El instituto en el proceso de adquisición de  chalecos o carnets instituciones, utiliza plataformas alternas como el correo institucional que muchos estudiantes no lo revisan de forma seguida lo cual es otra complicación para la compra  de dichos artículos ,otro factor es que puede resultar confuso para el cliente (estudiantes) al momento de la compra y el pago de los artículos
            </p>
            
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm">
                <h2>°Yavishop</h2>
                <p>Brindamos un servicio de compra rapida  a los estudiantes  pertenecientes a la institucion yavirac  </p>
                <p>De acuerdo a la problemática se establece contar con un sistema de pedidos de productos en el cual el estudiante podrá ingresar a la página web  en donde verá la oferta de  todas las opciones disponibles  como chalecos ,carnets y pueda acceder a su compra esperando solventar y automatizar dicho problema.
                </p>
            </div>
            <div class=" col-sm -4 ">
            
              <h1>Productos disponibles Actualmente</h1>
              <a class="nav-link" [routerLink]="['/productos']" href="#" class="btn btn-outline-primary">Ver Detalle  <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6IbcXqJIzFtSx4pm6Dbe0ILEaBx7_xjf0yw&usqp=CAU" alt="" width="250" height="200" > </a> 
              <a class="nav-link" [routerLink]="['/productos']" href="#" class="btn btn-outline-warning">Ver Detalle  <img  src="https://http2.mlstatic.com/12-porta-credenciales-cinta-lanyard-eventos-ekipofertas-D_NQ_NP_623324-MLC31213193700_062019-F.jpg" alt="" width="250" height="200" > </a> 
              <a class="nav-link" [routerLink]="['/productos']" href="#" class="btn btn-outline-warning">Ver Detalle  <img  src="https://th.bing.com/th/id/R.c9a951cda80640ababef5e83da905772?rik=Fs0HcOGFcW%2b2%2fg&riu=http%3a%2f%2fmlm-s2-p.mlstatic.com%2f690244-MLM32072605861_092019-O.jpg&ehk=yidcEFl9sXHFtRZoRtuTpFWg7GRto0DZ%2bE%2bELJVRlnI%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="" width="250" height="200" > </a> 
              <a class="nav-link" [routerLink]="['/productos']"  href="#" class="btn btn-outline-primary">Ver Detalle  <img  src="https://th.bing.com/th/id/R.3cb931ed95a64ef9aa1676841c70a5f2?rik=aOu6c7x4agNBaQ&pid=ImgRaw&r=0
                " alt="" width="250" height="200" > </a> 

         </div>
        </div>
        <br>
        <app-fotter></app-fotter>