




<h2 style="color:#FF9900; text-align:center;">PRODUCTOS INSTITUCIONALES</h2>

<a routerLink="/pedidos" class="btn btn-outline-warning" style="color:#FF9900; text-align:center;" >REALIZA TUS PEDIDOS</a>

<div class="row" style="margin-left: 77%; padding-bottom: 20px; ">
  <input class="form-control me-2" style="width: 150px; " type="search" placeholder=" " aria-label="Search">
  <button class="btn btn-warning" style="top:0; width: 140px; " type="submit">BUSCAR</button>
</div>

<div class="row">
  <div class="col-3 ms-5">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" style="width: 286px; height:180px ;"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6IbcXqJIzFtSx4pm6Dbe0ILEaBx7_xjf0yw&usqp=CAU"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Chaleco</h5>
          <a [routerLink]="['/detallepedidos']"  class="btn btn-outline-warning">Ver Detalle</a>
        
      </div>
    </div>
  </div>

  <div class="col-3 ms-5">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" style="width: 286px; height:180px ;"
        src="https://cdn-icons-png.flaticon.com/512/455/455593.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Carnet</h5>
        <a href="#" class="btn btn-outline-warning">Ver Detalle</a>
      </div>
    </div>
  </div>

  <div class="col-3 ms-5">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" style="width: 286px; height:180px ;"
        src="https://http2.mlstatic.com/D_860259-MEC44352318031_122020-O.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Calentador</h5>
        <a href="#" class="btn btn-outline-warning">Ver Detalle</a>
      </div>
    </div>
  </div>
</div>
