<div id="hm">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100"
          src="https://th.bing.com/th/id/R.9eefd7c42f09aa77793df274db18e14e?rik=zZaYLVjDRjnDAw&pid=ImgRaw&r=0"
          alt="First slide">

      </div>
      <div class="carousel-item">
        <img class="d-block w-100"
          src="https://th.bing.com/th/id/R.3cc4222e03f879166eff66b1c707b49b?rik=LqJiHs8gYLY9bA&riu=http%3a%2f%2fclipartmag.com%2fimage%2fshirt-pocket-drawing-30.jpg&ehk=E7UNgoEEA2%2bD04IvVbsP0VOJ9LptU2WhPXn2w8KEgGI%3d&risl=&pid=ImgRaw&r=0"
          alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100"
          src="https://th.bing.com/th/id/R.f5c50640638d6b90d11f78973f65b1e4?rik=uA4FkfNRXJc%2fjg&pid=ImgRaw&r=0&sres=1&sresct=1"
          alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
  <br>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <h1><b>Beneficios de Usar YAVISHOP </b></h1>
          <p>Actualmente el Instituto ofrece venta de productos a los estudiantes en el cual le envían un mensaje por
            el correo en donde se le da a conocer el proceso de adquisición de chaleco o carnet estudiantil para lo
            cual dentro del correo se adjunta el número de cuenta y un formulario en el cual se debe llenar los datos
            y subir el comprobante para la validación de la adquisición y luego se envía otro correo mas para informar
            la fecha en que se debe retirar/p>
            <br>
        </div>
        <div class=" col-sm ">

          <p>El instituto en el proceso de adquisición de chalecos o carnets instituciones, utiliza plataformas
            alternas como el correo institucional que muchos estudiantes no lo revisan de forma seguida lo cual es
            otra complicación para la compra de dichos artículos ,otro factor es que puede resultar confuso para el
            cliente (estudiantes) al momento de la compra y el pago de los artículos
          </p>
          <p>De acuerdo a la problemática se establece contar con un sistema de pedidos de productos en el cual el
            estudiante podrá ingresar a la página web en donde verá la oferta de todas las opciones disponibles como
            chalecos ,carnets y pueda acceder a su compra esperando solventar y automatizar dicho problema.
          </p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row ">
          <div class="col-sm">
            <h2>Yavishop</h2>
            <p>Brindamos un servicio de compra rapida a los estudiantes pertenecientes a la institucion yavirac </p>
          </div>
          <div class=" col-sm ">

            <img src="https://th.bing.com/th/id/R.488fa57d6cc36185712bdf27b08ee7f3?rik=DogVX3TKepY7nA&pid=ImgRaw&r=0"
              alt="" width="250" height="200">
            <img
              src="https://http2.mlstatic.com/12-porta-credenciales-cinta-lanyard-eventos-ekipofertas-D_NQ_NP_623324-MLC31213193700_062019-F.jpg"
              alt="" width="250" height="200">
          </div>
        </div>
        <br>
        <!-- Footer -->
        <footer class="bg-dark text-center text-white">
          <!-- Grid container -->
          <div class="container p-4">


            <!-- Section: Text -->
            <section class="mb-4">
              <p>
                Con este proyecto se busca cubrir la necesidad de la adquisicion de chalecos y credenciales
                institucionales
              </p>
            </section>
            <!-- Section: Text -->

            <!-- Section: Links -->
            <section class="">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">SEBASTIAN NARANJO</h5>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">KEVIN PILLAJO</h5>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">JEYSON MOLINA </h5>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">ROMMEL BURGOS</h5>

                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </section>
            <!-- Section: Links -->
          </div>
          <!-- Grid container -->

          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">YAVISHOP_EQUIPO.com</a>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </div>
    </div>
  </div>
</div>