  <nav class="navbar navbar-expand-lg bg-light">
    <a class="" href=""><img src="https://eva.yavirac.edu.ec/pluginfile.php/1/theme_lambda/logo/1656087083/nuevos%20logo%20YAVIRAC-01.png
      " style="width: 90px;" nalt="">Yavishop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav ">
        <ul class="nav-item">
          <a routerLink="usuarios" class="nav-link">Usuarios</a>
          <a routerLink="addusuarios" class="nav-link">Agregar</a>        
        </ul>
        <ul></ul>
        <li class="nav-item">
          <a routerLink="productos" class="nav-link">Producto Lista</a>
      
          <a routerLink="addproductos" class="nav-link">Agregar</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Inicio </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/cont-admin" class="nav-link" routerLink="admin">Admin Contenido</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/cont-mod" class="nav-link" routerLink="mod">Moderador Contenido</a>
        </li>
        <li class="nav-item">
          <a href="/cont-user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Usuario Contenido</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>