  <nav class="navbar navbar-expand-lg bg-light">
    <a class="" href=""><img src="https://eva.yavirac.edu.ec/pluginfile.php/1/theme_lambda/logo/1656087083/nuevos%20logo%20YAVIRAC-01.png
      " style="width: 90px;" nalt="">Yavishop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a routerLink="productos" class="nav-link">Producto Lista</a>
        </li>
        <li class="nav-item">
          <a routerLink="addproductos" class="nav-link">Add</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>